<div class="table-responsive">
  <table class="table table-condensed table-hover datatable">
    <thead>
    <tr>
      <th></th>
      <th>獲得日</th>
      <% unless controller_name == 'companies' %>
        <th>会社名</th>
      <% end %>
      <th>部署名</th>
      <th>役職</th>
      <th>氏名</th>
      <th>メモ</th>
    </tr>
    </thead>

    <tbody>
    <% leads.each do |lead| %>
      <tr>
        <td class="td-action"><%= link_to '詳細', lead %></td>
        <td class="td-date"><%= lead.date_on %></td>
        <% unless controller_name == 'companies' %>
          <td><%= link_to truncate(lead.company_name, length: 25), search_companies_path(q: lead.company_name) %></td>
        <% end %>
        <td><%= truncate(lead.department, length: 25) %></td>
        <td><%= truncate(lead.title, length: 25) %></td>
        <td><%= truncate(lead.name, length: 25) %></td>
        <td><%= truncate(lead.memo, length: 50) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
