<% provide(:title, controller_name) %>

<div class="page-header">
  <h2>リード<small>一覧</small></h2>
</div>

<p class="text-info"><%= icon('info-circle', 'リードはイベント詳細から作成できます。') %></p>

<div class="table-responsive">
  <table class="table table-condensed table-hover table-striped">
    <thead>
    <tr>
      <th></th>
      <th>会社名</th>
      <th>部署名</th>
      <th>役職</th>
      <th>氏名</th>
      <th>きっかけ</th>
      <th>参加イベント</th>
    </tr>
    </thead>

    <tbody>
    <% @leads.each do |lead| %>
      <tr>
        <td class="td-action"><%= link_to '詳細', lead %></td>
        <td><%= lead.company_name %></td>
        <td><%= lead.department %></td>
        <td><%= lead.title %></td>
        <td><%= lead.name %></td>
        <td><%= lead.trigger %></td>
        <td><%= link_to(lead.event.name, lead.event) if lead.event.present? %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="text-center">
  <%= paginate @leads %>
</div>
