<% provide(:title, controller_name) %>

<div class="page-header">
  <h2>リード<small>一覧</small></h2>
</div>

<p class="link-action">
  <%= link_to '新規作成', new_lead_path %>
  <%= link_to 'インポート', new_import_leads_path %>
  <%= link_to 'エクスポート', leads_path(format: 'csv') %>
</p>

<%= render partial: 'index_table', locals: { leads: @leads } %>

<div class="text-center">
  <%= paginate @leads %>
</div>
