<% provide(:title, controller_name) %>

<div class="page-header">
  <h2>リード<small>詳細</small></h2>
</div>

<p class="link-action">
  <%= link_to 'リード一覧', leads_path %>
  <%= link_to '編集', edit_lead_path(@lead) %>
  <%= link_to '削除', @lead, method: :delete, data: {confirm: 'Are you sure?'} %>
</p>

<dl class="dl-horizontal">
  <dt>獲得日</dt><dd><%= @lead.date_on %></dd>
  <dt>会社名</dt><dd><%= @lead.company_name %></dd>
  <dt>部署名</dt><dd><%= @lead.department %></dd>
  <dt>役職</dt><dd><%= @lead.title %></dd>
  <dt>氏名</dt><dd><%= @lead.name %></dd>
  <dt>メール</dt><dd><%= @lead.email %></dd>
  <dt>電話番号</dt><dd><%= @lead.phone %></dd>
  <dt>きっかけ</dt><dd><%= @lead.trigger %></dd>
  <dt>メモ</dt><dd><%= auto_link_text(@lead.memo) %></dd>
</dl>

<blockquote>
  <p>参加イベント</p>
</blockquote>

<%= render partial: 'events/index_table', locals: { events: @events } %>

<br>
<blockquote>
  <p>コンタクト履歴</p>
</blockquote>

<p class="link-action">
  <%= link_to '新規作成', new_lead_contact_path(@lead) %>
  <%= link_to 'インポート', new_import_lead_contacts_path(@lead) %>
  <%= link_to 'エクスポート', export_lead_contacts_path(@lead, format: 'csv') %>
</p>

<div class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
    <tr>
      <th></th>
      <th>日付</th>
      <th>内容</th>
      <th>手段</th>
      <th>担当者</th>
    </tr>
    </thead>

    <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td class="td-action">
          <%= link_to '編集', edit_contact_path(contact) %>
          <%= link_to '削除', contact, method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
        <td class="td-date"><%= contact.date_on %></td>
        <td><%= contact.content %></td>
        <td><%= contact.means %></td>
        <td><%= contact.owner %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
