<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name , hint: 'hoge' %>
    <%= f.input :category %>
    <%= f.input :summary %>
    <%= f.input :date_on %>
  </div>

  <div class="form-actions form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <div class="col-sm-8 row">
        <%= f.button :submit %>
      </div>
    </div>
  </div>
<% end %>
