<% provide(:title, controller_name) %>

<div class="page-header">
  <h1>Events</h1>
</div>

<p class="link-action">
  <%= link_to 'New Event', new_event_path %>
  <%= link_to 'Import', '#' %>
  <%= link_to 'Export', '#' %>
</p>

<!--<blockquote>-->
  <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>-->
  <!--<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>-->
<!--</blockquote>-->

<div class="table-responsive">
  <table class="table table-condensed table-hover table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Summary</th>
      <th>Date on</th>
    </tr>
    </thead>

    <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.name, event %></td>
        <td><%= event.category %></td>
        <td><%= event.summary %></td>
        <td><%= event.date_on %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="text-center">
  <%= paginate @events %>
</div>
