<% provide(:title, controller_name) %>

<div class="page-header">
  <h2>イベント<small>一覧</small></h2>
</div>

<p class="link-action">
  <%= link_to '新規作成', new_event_path %>
  <%= link_to 'インポート', new_import_events_path %>
  <%= link_to 'エクスポート', events_path(format: 'csv') %>
</p>

<%= render partial: 'index_table', locals: { events: @events } %>

<div class="text-center">
  <%= paginate @events %>
</div>
