<p class="link-action">
  <%= link_to 'イベント一覧', events_path %>
  <%= link_to '編集', edit_event_path(@event) %>
  <%= link_to '削除', @event, method: :delete, data: {confirm: 'Are you sure?'} %>
</p>

<dl class="dl-horizontal">
  <dt>実施日</dt><dd><%= @event.date_on %></dd>
  <dt>イベント名</dt><dd><%= @event.name %></dd>
  <dt>種別</dt><dd><%= @event.category %></dd>
  <dt>概要</dt><dd><%= auto_link_text(@event.summary) %></dd>
</dl>

<blockquote>
  <p>このイベントのリード</p>
</blockquote>

<p class="link-action">
  <%= link_to '新規作成', new_event_lead_path(@event) %>
  <%= link_to 'インポート', new_import_leads_path(event_id: @event) %>
  <%= link_to 'エクスポート', event_leads_path(@event, format: 'csv') %>
</p>

<%= render partial: 'leads/index_table', locals: { leads: @leads } %>
