<div class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
    <tr>
      <th></th>
      <th>日付</th>
      <th>内容</th>
      <th>手段</th>
      <th>担当者</th>
    </tr>
    </thead>

    <tbody>
    <% contacts.each do |contact| %>
      <tr>
        <td class="td-action">
          <%= link_to '編集', edit_contact_path(contact) %>
          <%= link_to '削除', contact, method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
        <td class="td-date"><%= contact.date_on %></td>
        <td><%= truncate(contact.content, length: 50) %></td>
        <td><%= truncate(contact.means, length: 25) %></td>
        <td><%= truncate(contact.owner, length: 25) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
