<p id="notice"><%= notice %></p>

<p>
  <strong>Date on:</strong>
  <%= @contact.date_on %>
</p>

<p>
  <strong>Content:</strong>
  <%= @contact.content %>
</p>

<p>
  <strong>Means:</strong>
  <%= @contact.means %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @contact.owner %>
</p>

<p>
  <strong>Lead:</strong>
  <%= @contact.lead %>
</p>

<%#= link_to 'Edit', edit_contact_path(@contact) %> |
<%#= link_to 'Back', contacts_path %>
